.plan {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid lightgray;
}

.plan__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.plan__synopsis-editor {
    outline: none;
    font-size: 1.2em;
}

.plan__synopsis {
    font-size: 1.2em;
}

.plan__description {
    font-size: 0.8em;
}

.plan__time-scale {
    font-size: 0.8em;
    text-transform: uppercase;
}

.plan__settings {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    gap: 0.2em;
}

.plan__settings-change {
    color: green;
    width: 50px;
    text-align: center;
    box-sizing: content-box;
}

.plan__settings-delete {
    color: red;
}
